/*
* @Author: Administrator
* @Date:   2018-10-30 14:13:00
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-30 14:58:26
*/
.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.form-line .label{
	display: inline-block;
	width: 60px;
	text-align: center;
}