/*
* @Author: Administrator
* @Date:   2018-09-22 14:06:47
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-22 14:10:10
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}