/*
* @Author: Administrator
* @Date:   2018-10-10 14:52:34
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-10 16:29:51
*/
.page-wrap{
	padding: 30px 0;
	margin-top: 20px;
	text-align: center;
	background: #fff;
}
.result-con{
	display: none;
}
.result-con .result-title{
	color: #555;
}
.result-con .result-content{
	margin-top: 20px;
}
.result-con .result-content .link{
	margin: 0 5px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}